body{
	font-family: Arial,sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
}
header{
	background-color: gray;
	padding: 20px;
}
nav{
	display: flex;
	justify-content: space-between;

}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav li{
	display: inline-block;
	margin-right: 20px;

}
nav a{
	text-decoration: none;
	color: black;
}
nav a:hover{
	color: red;
}
.dropdown{
	position: right;

	display: inline-block;
	direction: rtl;
}
.dropdown-contents{
	display: none;
	position: absolute;
	background-color: gray;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-contents a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-contents a:hover{
	background-color: #ddd;
}
.dropdown:hover .dropdown-contents{
	display: block;

}
section{
	padding: 20px;
	border-bottom: 1px solid #ddd;
}
footer{
	text-align: center;
	padding: 20px;
	background-color:gray;
/*designed by gisa patrick 222008906*/